<div class="d-flex flex-column align-items-center" th:fragment="playlist-container">
    <th:block th:each="track : ${topTracksList.spTracks}">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="${track.albumImgUrl}" class="img-fluid rounded-start album-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="track-title" th:text="${track.title}"></h5>
                        <h5 class="track-artist" th:text="${track.artist}"></h5>
                        <h5 class="track-album" th:text="${track.albumTitle}"></h5>
                        <h5 class="track-duration" th:text="${track.durationStr}"></h5>
                        <a class="track-url" th:href="${track.trackUrl}" th:text="|Play ${track.title} on Spotify|"></a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>