<div id="playlist-container" class="d-flex flex-column align-items-center gap-3" th:fragment="playlist-container">
    <form method="post" action="#" onsubmit="savePlaylist(event)" th:object="${topTracksList}">

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-input" placeholder="Enter username..." required>
        </div>
        <div class="mb-3">
            <label for="playlist-name" class="form-label">Playlist Name</label>
            <input type="text" class="form-control" id="playlist-name" th:field="*{name}"
                placeholder="Enter a name for this playlist..." required>
        </div>
        <div id="save-playlist-container" class="d-grid gap-2 my-3">
            <button id="save-playlist-btn" class="btn btn-primary" type="submit">Save this
                playlist</button>
        </div>

        <div>
            <th:block th:each="track, stat : *{appTracks}">
                <div class="card mb-3">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4">
                            <img th:src="${track.albumImgUrl}" class="img-fluid rounded-start album-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <input type="hidden" th:field="*{appTracks[__${stat.index}__].title}" />
                                <input type="hidden" th:field="*{appTracks[__${stat.index}__].artist}" />
                                <input type="hidden" th:field="*{appTracks[__${stat.index}__].albumTitle}" />
                                <input type="hidden" th:field="*{appTracks[__${stat.index}__].albumImgUrl}" />
                                <input type="hidden" th:field="*{appTracks[__${stat.index}__].durationStr}" />
                                <input type="hidden" th:field="*{appTracks[__${stat.index}__].trackUrl}" />

                                <div class="row">
                                    <h5 class="track-title" th:text="${track.title}"></h5>
                                </div>
                                <div class="row g-0">
                                    <div class="col-4">
                                        <strong>
                                            <p>Artist:</p>
                                        </strong>
                                    </div>
                                    <div class="col-8">
                                        <p class="track-artist" th:text="${track.artist}"></p>
                                    </div>
                                </div>
                                <div class="row g-0">
                                    <div class="col-4">
                                        <strong>
                                            <p>Album:</p>
                                        </strong>
                                    </div>
                                    <div class="col-8">
                                        <p class="track-album" th:text="${track.albumTitle}"></p>
                                    </div>
                                </div>
                                <div class="row g-0">
                                    <div class="col-4">
                                        <strong>
                                            <p>Duration:</p>
                                        </strong>
                                    </div>
                                    <div class="col-8">
                                        <p class="track-duration" th:text="${track.durationStr}"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <a class="track-url" th:href="${track.trackUrl}"
                                        th:text="|Play ${track.title} on Spotify|"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </form>
</div>