<div class="d-flex flex-column align-items-center gap-3" th:fragment="user-playlists-container">
    <th:block th:each="playlist, stat : ${user.playlists}">
        <div class="d-flex align-items-center gap-3">
            <div class="card w-75">
                <div class="card-body">
                    <form class="playlist-form" action="#" method="post">
                        <input class="playlist-id" type="hidden" name="playlist-id" th:name="playlist-id"
                            th:value="${user.playlists[__${stat.index}__].id}" />
                        <input type="text" class="playlist-name-input" name="playlist-name" th:name="playlist-name"
                            th:value="${user.playlists[__${stat.index}__].name}" readonly />
                    </form>
                    <h5 class="playlist-duration" th:text="${playlist.totalDurationStr}"></h5>
                    <h5 class="playlist-date-created" th:text="${playlist.dateCreated}"></h5>
                    <h5 class="playlist-n-tracks" th:text="${playlist.nTracks}"></h5>
                </div>
            </div>

            <button type="button" class="btn rename-btn btn-outline-primary py-3" onclick="renamePlaylist(event)"><i
                    class="bi bi-pencil"></i></button>
            <button type="button" class="btn remove-btn btn-danger py-3"><i class="bi bi-trash"></i></button>
        </div>
    </th:block>
</div>