<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>Document</title>
</head>

<body>

    <header class="bg-dark text-white d-flex align-items-center justify-content-between py-3">

        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-white">Create New Playlist</a></li>
            <li><a href="#" class="nav-link px-2 text-secondary">Manage Playlists</a></li>
        </ul>

        <div class="user-info d-flex gap-3 justify-content-between align-items-center">
            <i class="bi bi-person-circle"></i>
            <h5>Guest</h5>
            <button type="button" class="btn btn-outline-light me-2">Login</button>
        </div>

    </header>

    <section class="main">
        <div class="d-flex flex-column align-items-center w-50 mx-auto mt-5">
            <h2>Create New Playlist</h2>
            <form class="d-flex">
                <input id="search-playlists-input" class="form-control me-2 w-auto" type="search"
                    placeholder="Enter a keyword..." aria-label="Search">
                <button id="search-playlists-btn" class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div class="d-flex flex-column align-items-center w-50 mx-auto mt-5">
            <div id="spinner" class="spinner-border text-primary visually-hidden" role="status">
            </div>
            <div id="playlist" class="container">
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>

</html>